__pycache__/
.tools/
.DS_Store
*.pyc
*.sqlite3*
.dart_tool/
build/
.flutter-plugins*
.env
*.jks
*.keystore
key.properties
mobile/.idea/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/android/local.properties
